<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="utf-8">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" th:href="@{/css/Bootstrap/4.3.1/bootstrap.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
        <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" type="text/css">
        <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/Bootstrap/4.3.1/bootstrap.min.js}"></script>  
        <script th:src="@{/js/main.js}"></script>        
        <title th:text="${title} + ' :: SimpleBooking'" />
    </head>
    <body>
    <th:block th:insert="fragments/navbar" />

    <th:block th:if="${backgroundImage != null}">
        <div class="jumbotron jumbotron-fluid" th:style="|background-size: cover; background-position: center center; background-image: url(${backgroundImage})|">        
            <div class="container">
                <h1 class="display-4 text-white" style="text-shadow: 1px 1px rgba(0,0,0,0.4)" th:text="${title}" />
                <p class="lead text-white" style="text-shadow: 1px 1px rgba(0,0,0,0.4)" th:text="${subtitle}" />
    </th:block>

    <th:block th:if="${backgroundImage == null}">
        <div class="jumbotron jumbotron-fluid">    
            <div class="container">
                <h1 class="display-4" th:text="${title}" />
                <p class="lead" th:text="${subtitle}" />    
    </th:block>
    
        </div>
    </div>