<th:block th:insert="fragments/header" th:with="title='My Bookings', subtitle='List of bookings'" />
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <table class="table mb-4" th:each="place : ${places}">
                <tbody>
                    <tr class="border bg-light">
                        <td colspan="2" class="border-top-0">
                            <h5 class="m-0 float-left">
                                <span th:text="*{place.name}" /> at
                                <span th:text="*{place.address}" />
                            </h5>
                            <!--<span class="float-right" th:text="'Number of Bookings: ' + ${#lists.size(place.bookings)}"/>-->
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="p-0 border-top-0">
                            <table class="table table-borderless table-striped m-0">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th width="25%" scope="col">Phone Number</th>
                                        <th width="25%" scope="col">Reservation Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="booking : ${place.bookings}">
                                        <td th:text="${booking.name}" />
                                        <td th:text="${booking.phoneNumber}" />
                                        <td th:text="${booking.reservationDate}" />
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<th:block th:insert="fragments/footer" />