<th:block th:insert="fragments/header" th:with="title='My Places', subtitle='List of places'" />
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="container text-right">
                <a class="btn btn-outline-primary" th:href="@{/place/add}" role="button"><i class="fa fa-plus"></i> List a new place</a>
            </div>
        </div>
        <div class="row">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Upcoming RSV</th>
                        <th scope="col">Total RSV</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="place,iter : ${places}">
                        <th th:text="${iter.index}" />
                        <td th:text="${place.name}" />
                        <td th:text="${place.address}" />
                        <td th:text="${place.getActiveBookings()}"/>
                        <td th:text="${place.bookings.size()}"/>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="..." style="width: 100%">
                                <a class="btn btn-primary" th:href="@{/__${place.placeUrl.url}__}" role="button"><i class="fa fa-globe"></i> View</a>
                                <a class="btn btn-warning" th:href="@{/__${place.placeUrl.url}__?editing=true}" role="button"><i class="fa fa-edit"></i> Edit</a>
                                <a class="btn btn-danger" th:href="@{/__${place.placeUrl.url}__/remove}" role="button"><i class="fa fa-trash"></i> Remove</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<th:block th:insert="fragments/footer" />