<th:block th:insert="fragments/header" th:with="title='My Places', subtitle='List of places'" />
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <th:block th:if="${places.size() == 0}">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p>You do not have any places listed yet!</p>
                        </div>
                        <div class="col text-right">
                            <a class="btn btn-outline-primary" th:href="@{/place/add}" role="button"><i class="fa fa-plus"></i> List a new place</a>
                        </div>
                    </div>
                </th:block>
            <th:block th:if="${places.size() > 0}">
                <div class="container text-right">
                    <div class="col">
                        <a class="btn btn-outline-primary" th:href="@{/place/add}" role="button"><i class="fa fa-plus"></i> List a new place</a>
                    </div>
            </th:block>
            </div>

        </div>
        <div class="row">
            <table class="table table-borderless" th:if="${places.size() > 0}">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Upcoming RSV</th>
                        <th scope="col">Total RSV</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="place : ${places}">
                        <td th:text="*{place.name}" />
                        <td th:text="*{place.address}" />
                        <td th:text="*{place.getActiveBookings()}"/>
                        <td th:text="*{place.bookings.size()}"/>
                        <td>
                            <div class="btn-group" role="group">
                                <a class="btn btn-primary" th:href="@{/__*{place.placeUrl.url}__}" role="button"><i class="fa fa-globe"></i> View</a>
                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <a class="dropdown-item" th:href="@{/__*{place.placeUrl.url}__?editing=true}"><i class="fa fa-edit"></i> Edit</a>
                                    <a class="dropdown-item openConfirmModal" href="#" th:attr="data-placeid=*{place.id}, data-name=*{place.name}"><i class="fa fa-trash"></i> Remove</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal" id="confirmModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove?</p>
                <form th:action="@{/place/remove}" method="POST">
                    <input type="hidden" name="placeId">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">I changed my mind</button>
                <button type="button" id="btnOk" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(() => {
        let $confirmModal = $("#confirmModal"),
            $confirmModalBtn = $confirmModal.find('#btnOk');
        $(".openConfirmModal").on('click', e => {
            let $a = $(e.target);
            console.log($a);
            $confirmModal.find('.modal-title').text('Removing ' + $a.attr('data-name'));
            $confirmModal.find('.modal-body form input[name="placeId"]').val($a.attr('data-placeid'));
            $confirmModal.modal('show');
        });
        $confirmModalBtn.on('click', () => $confirmModal.find('.modal-body form').submit());
    });
</script>
<th:block th:insert="fragments/footer" />