<th:block th:insert="fragments/header" th:with="title='Your profile', subtitle='Edit your profile here'" />
<div class="container-fluid" th:object="${user}">
    <div class="container">
        <form action="#" th:action="@{/profile}" method="post">
            <div class="row">
                <div class="col">
                    <h4>Company</h4>
                    <div class="form-group">
                        <label for="companyName" readonly>Name</label>
                        <input type="text" class="form-control" th:field="*{company.name}" placeholder="Enter your company name" />
                    </div>
                    <div class="form-group">
                        <label for="companyAddress" readonly>Address</label>
                        <input type="text" class="form-control" th:field="*{company.address}" placeholder="Enter your company address" />
                    </div>
                </div>
                <div class="col">
                    <blockquote class="blockquote lightgrey">
                        <p class="mb-2">Please remember to fill out all details. Your customers will appreciate this!</p>
                        <p class="mb-2">We are using this information to secure your account and enhance your and your customers experience.</p>
                        <p class="mb-2">This text is here to fill up the empty space and create more immersive experience.</p>                            
                        <a href="#">Read More...</a>
                    </blockquote>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>Contact</h4>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="firstname">Firstname</label>
                                <input type="text" class="form-control" th:field="*{contact.firstName}" placeholder="Enter your firstname" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="lastname">Lastname</label>
                                <input type="text" class="form-control" th:field="*{contact.lastName}" placeholder="Enter your lastname" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" th:field="*{contact.address}" placeholder="Enter your address" />
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone number</label>
                        <input type="tel" class="form-control" th:field="*{contact.phonenumber}" placeholder="Enter your phone number" />
                    </div>
                    <button type="submit" class="btn btn-primary">Save contact details</button>
                </div>
            </div>
        </form>
    </div>
</div>
<th:block th:insert="fragments/footer" />