<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" th:href="@{/css/Bootstrap/4.3.1/bootstrap.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
        <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" type="text/css">
        <script th:src="@{/js/Bootstrap/4.3.1/bootstrap.min.js}"></script>     
        <script th:src="@{/js/main.js}"></script>        
        <title>SimpleBooking :: Login</title>
    </head>
    <body>
        <div th:insert="fragments/header" th:with="title='Sign Up', subtitle='Sign up to list your place of business'" />
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="messageBox error" th:if="${param.error}">Invalid username and password.</div>
                </div>
                <div class="row">
                    <form action="#" th:action="@{/login}" method="post">
                        <div class="form-group">
                                <label for="username">Email</label>
                                <input type="text" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter your email address">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password">
                        </div>
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>